
%nav
  %h1 XAUN LOPEZ
  %ul
    / %li
    /   %a{:href => "#"} About
    %a{:href => "#", :id => 'projects-link'}
      %li Projects
    %a{:href => "#", :id => 'storebuilder-link', :style => 'display: none;'}
      %li StoreBuilder
    %a{:href => "#", :id => 'threedee-link', :style => 'display: none;'}
      %li Threedee
    %a{:href => "#", :id => 'cloudchaser-link', :style => 'display: none;'}
      %li CloudChaser
    %a{:href => "#", :id => 'contact-link'}
      %li Contact

#main-container
  #margin-container
    #about
      #section.about-margin
        %p Passionate about coding, audio & the future of technology.
        %p From interactive applications, to database design. I want to build technologies that either inspire people, or make their lives easier.

        / %p
        /   %span Currently available for work in Sydney.

  #projects
    #storebuilder-description
      %h3 StoreBuilder
      %p StoreBuilder, is a tool that allows you to build & manage your own online store.
      %p Add & edit products, manage orders, add staff members, and send your store live into a responsive single-page application that saves cart items & guest information to Local Storage.
      %p
        %small Ruby 50% | JavaScript 17% | CSS 33%
      %a{:href => "http://store-builder.herokuapp.com", :target => '_blank'}
        %div{:class => 'btn btn-1 btn-main'} Build A Store
      %a{:href => "http://store-builder.herokuapp.com/stores/1", :target => '_blank'}
        %div{:class => 'btn btn-2 btn-main'} Heaps of Nikes
      %a{:href => "http://store-builder.herokuapp.com/stores/2", :target => '_blank'}
        %div{:class => 'btn btn-3 btn-main'} Beats for Days
      %a{:href => "http://github.com/xaun/store-builder", :target => '_blank'}
        %div{:class => 'btn btn-4 btn-main'} Github Code
      %br/


      #storebuilder-carousel.carousel
        %img{:src => "/images/storebuilder-image1.png", :class => 'active', :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image14.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image2.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image15.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image11.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image3.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image16.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image7.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image4.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image6.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image13.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image8.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image9.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image12.png", :data => { :carousel => '#storebuilder-carousel'}}/
        %img{:src => "/images/storebuilder-image10.png", :data => { :carousel => '#storebuilder-carousel'}}/
      #storebuilder-detailed{:style => 'display: none; padding-top: 40px;'}
        %p StoreBuilder is my final project that I did for General Assembly's Web Development Immersive course.
        %p The idea behind this project choice was not to make an app that's particularly needed in the world, but more to do something that had lots of models, associations and also used BackboneJS to send the store live into a single-page app style.
        %p You can check-out items, see the orders show up in the admin tool of the respective store. Payment processing is not integrated at this point - everything is free!
      %div{:class => 'btn btn-5', :data => {:div_reveal => '#storebuilder-detailed'}} More Info

    #threedee-description
      %h3 Threedee
      %p Threedee is an Interactive 3D visualiser built with Three.JS & the Web Audio API.
      %p Featuring customisable graphical settings, mp3 drag & drop, and Soundcloud URL link.
      %p
        %small Ruby 21% | JavaScript 68% | CSS 11%
      %a{:href => "http://tadx-threedee.herokuapp.com", :target => '_blank'}
        %div{:class => 'btn btn-1 btn-main'} Rave Here
      %a{:href => "http://github.com/xaun/threedee", :target => '_blank'}
        %div{:class => 'btn btn-4 btn-main'} Github Code
      %br/

      #threedee-carousel.carousel
        %img{:src => "/images/threedee-image1.png", :class => 'active', :data => { :carousel => '#threedee-carousel'}}/
        %img{:src => "/images/threedee-image4.png", :data => { :carousel => '#threedee-carousel'}}/
        %img{:src => "/images/threedee-image7.png", :data => { :carousel => '#threedee-carousel'}}/
        %img{:src => "/images/threedee-image6.png", :data => { :carousel => '#threedee-carousel'}}/
        %img{:src => "/images/threedee-image5.png", :data => { :carousel => '#threedee-carousel'}}/
        %img{:src => "/images/threedee-image3.png", :data => { :carousel => '#threedee-carousel'}}/
        %img{:src => "/images/threedee-image2.png", :data => { :carousel => '#threedee-carousel'}}/
      #threedee-detailed{:style => 'display: none; padding-top: 40px;'}
        %p Threedee is a group collaberation for our second project of General Assembly's Web Development Immersive course.
        %p My main role in the collaberation was to get the Web Audio API playing & analysing sound, mp3 drag & drop, Soundcloud URL, and UI. The rest of the group spent the whole week on 3D visuals.
        %p This project was an exciting eye-opener to how awesome the browser has become!
      %div{:class => 'btn btn-5', :data => {:div_reveal => '#threedee-detailed'}} More Info

    #cloudchaser-description
      %h3 CloudChaser
      %p CloudChaser is a Soundclound player for Music & Podcasts.
      %p Search for tracks, or artists, and save to your offline stash!
      %p
        %small Ruby 77% | JavaScript 5% | CSS 18%
      %a{:href => "http://cloudchaser.herokuapp.com/", :target => '_blank'}
        %div{:class => 'btn btn-1 btn-main'} Listen Here
      %a{:href => "http://https://github.com/xaun/soundcloudplayer/", :target => '_blank'}
        %div{:class => 'btn btn-4 btn-main'} Github Code
      %br/

      #cloudchaser-carousel.carousel
        %img{:src => "/images/cloudchaser-image3.png", :class => 'active', :data => { :carousel => '#cloudchaser-carousel'}}/
        %img{:src => "/images/cloudchaser-image1.png", :data => { :carousel => '#cloudchaser-carousel'}}/
        %img{:src => "/images/cloudchaser-image2.png", :data => { :carousel => '#cloudchaser-carousel'}}/
        %img{:src => "/images/cloudchaser-image4.png", :data => { :carousel => '#cloudchaser-carousel'}}/
      #cloudchaser-detailed{:style => 'display: none; padding-top: 40px;'}
        %p CloudChaser is my first project that I built for General Assembly's Web Development Immersive course.
        %p My vision for this website was born from frustration using the official Soundcloud website when searching for new music. I wanted to make the search results faster, lightweight and using a traditional itunes/finder table sorting system.
      %div{:class => 'btn btn-5', :data => {:div_reveal => '#cloudchaser-detailed'}} More Info

  %footer
    #contact-links
      %ul
        %a{:href => "http://au.linkedin.com/in/xaunlopez", :target => '_blank'}
          %li
            %img{:src => "/images/linkedin.png", :alt => "linkedin"}/
            %p LinkedIn
        %a{:href => "https://github.com/xaun", :target => '_blank'}
          %li
            %img{:src => "/images/github.png", :alt => "github"}/
            %p GitHub
        %a{:href => "https://twitter.com/xaunlopez", :target => '_blank'}
          %li
            %img{:src => "/images/twitter.png", :alt => "twitter"}/
            %p Twitter
        %a{:href => "mailto:xaunlopez@gmail.com?Subject=You%27re%20Awesome!", :target => '_blank'}
          %li
            %img{:src => "/images/email2.png", :alt => "email"}/
            %p Email
        %a{:href => "#"}
          %li
            %img{:src => "/images/phone.png", :alt => "phone", :id => 'phone-icon'}/
            %p Phone


%script{:src => "javascripts/jquery-2.1.1.min.js"}
%link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Poiret+One"}/
%link{:rel => "stylesheet", :href => "stylesheets/bootstrap.min.css"}/

